In [3]:
# The code was removed by Watson Studio for sharing.

,Student Details,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,Unnamed: 69,Unnamed: 70,Unnamed: 71
0,Student ID,Title,First Name,Middle Name,Last Name,Is Duplicate Student,Year1 (% marks),Year2 (% marks),Year3 (% marks),Year4 (% marks),...,Enrolment Id (EId),Permanent Address line 1,Permanent Address Line 2,Permanent Address Line 3,Home State of the student,Home District of the student,Country,Pincode,Pragati/Saksham Scheme Status,Pragathi/Saksham Scheme Comments
1,1-3522489701,Miss,SHARAYU,SANGRAMSINH,RAJPUT,--,--,--,--,--,...,--,--,--,--,--,--,INDIA,--,--,--
2,1-3522489710,Mr.,SANKALP,UMESH,JOSHI,--,--,--,--,--,...,--,--,--,--,--,--,INDIA,--,--,--
3,1-3522489736,Miss,SNEHALI,PANDURANGRAO,DHAGE,--,--,--,--,--,...,--,--,--,--,--,--,INDIA,--,--,--
4,1-3522489752,Miss,RUKHSAR,ZAKIR,TAMBOLI,--,--,--,--,--,...,--,--,--,--,--,--,INDIA,--,--,--